@charset "UTF-8";
/* Обнуление стилей */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* -----------------------*/
body {
  font-family: "PT Sans", sans-serif;
  background-color: #FBF7F4;
  color: #242424;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.button {
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #000000;
  text-transform: uppercase;
  padding: 14px 20px;
}

.button:hover {
  background-color: #814b18;
}

.button:focus {
  background-color: #4e2e0e;
  outline: 2px solid #bdb590;
}

.button:disabled {
  color: #e7e7e7;
  background-color: #595959;
}

.button:disabled:hover {
  background-color: #595959;
  cursor: default;
  outline: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.header {
  background-color: #000000;
  color: #ffffff;
}
.header__nav {
  display: flex;
}

.nav-page__list {
  width: 430px;
  display: flex;
  flex-wrap: wrap;
}

.nav__item {
  display: flex;
}
.nav__link {
  position: relative;
  display: block;
  padding: 24px 19px;
  font-family: "PT Sans Narrow", sans-serif;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}
.nav__link:hover {
  background: #595959;
}
.nav__link:focus {
  box-shadow: inset 0 0 0 4px #e7e7e7;
}
.nav__icon {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  fill: #DBDBDB;
}
.nav__link:hover .nav__icon svg {
  fill: #242424;
}
.nav__link:focus .nav__icon svg {
  fill: #d8d8d8;
}
.nav__icon:last-child {
  right: auto;
  left: 20px;
  margin: auto 0;
}

.button-input {
  padding-left: 44px;
}

.nav-user__list {
  max-width: 250px;
  margin-left: auto;
}

.nav-user__list .nav__item .nav__link {
  min-width: 16px;
  min-height: 22px;
}

main {
  flex: 1 1 auto;
}

.main-container {
  color: #242424;
  background-image: url("../assets/img/light.png");
  background-color: #FBF7F4;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  margin-bottom: 32px;
  position: relative;
}
.main-container:last-child {
  margin-bottom: 0;
}

.main-container::after {
  content: "";
  position: absolute;
  top: 40px;
  bottom: 40px;
  width: 0;
  border-right: 1px dashed #595959;
}

.main-container:first-of-type::after {
  left: 470px;
}

.main-container:last-of-type::after {
  left: 430px;
}

.main-index {
  color: #ffffff;
  background: #000000 url("../assets/img/interior.jpg") 0 0/100% auto no-repeat;
  padding: 60px 0;
}
.main-index__logo {
  display: block;
  margin: 0 auto;
  width: 361px;
  height: 152px;
  margin-bottom: 60px;
}

.advantages {
  margin-bottom: 58px;
}
.advantages__list {
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.advantages__item {
  width: 277px;
}
.advantages__title {
  position: relative;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 32px;
  line-height: 35px;
  text-transform: uppercase;
  margin-bottom: 56px;
}
.advantages__title::before {
  position: absolute;
  content: "";
  bottom: -40px;
  left: 50%;
  width: 18px;
  height: 18px;
  margin-left: -9px;
  background-color: #ffffff;
  transform: rotate(45deg);
}
.services {
  width: 390px;
  text-transform: uppercase;
}
.services__title {
  font-size: 32px;
  line-height: 35px;
  font-weight: 700;
  margin-bottom: 28px;
}
.services__list {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 30px;
}
.services__item {
  margin-bottom: 22px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.services__item::before {
  content: "";
  flex-grow: 1;
  margin: 0 16px;
  border-bottom: 2px dotted rgba(89, 89, 89, 0.5);
  order: 2;
}
.services__price {
  color: #AF7842;
  order: 3;
}
.services__button {
  padding-right: 44px;
  background: #000000 url("../assets/img/pointer-right.svg") center right 20px/16px 16px no-repeat;
}

.gallery {
  width: 390px;
}
.gallery__title {
  font-size: 32px;
  line-height: 35px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.contacts {
  font-weight: 700;
  width: 352px;
}
.contacts__title {
  font-size: 32px;
  line-height: 35px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.contacts__subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  color: #AF7842;
  margin-bottom: 8px;
}
.contacts__address {
  font-style: normal;
  margin-bottom: 8px;
}
.contacts__schedule {
  margin-bottom: 21px;
}
.contacts__text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
}
.contacts__phone {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase;
}
.contacts__map-link {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: underline;
  text-transform: uppercase;
}

.address__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
  color: #242424;
}

.address__phone {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #242424;
  text-decoration: underline;
}

.schedule__item {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #242424;
  margin-bottom: 8px;
}

.button-feedback {
  margin-left: 16px;
  font-weight: 700;
  color: #242424;
  background-color: #FFFFFF;
}

.button-feedback:hover {
  background-color: #bdb590;
}

.button-feedback:focus {
  background-color: #bdb590;
  outline: 2px solid #AF7842;
}

.appointment {
  width: 430px;
}
.appointment__title {
  font-size: 32px;
  line-height: 35px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 28px;
}
.appointment__text {
  font-size: 14px;
  line-height: 20px;
  color: #595959;
  margin-bottom: 24px;
}
.appointment__form {
  color: #595959;
  display: grid;
  grid-template-columns: 115px 74px 208px;
  gap: 14px 16px;
}

.appointment-button {
  grid-column: 1/-1;
  justify-self: start;
}

.appointment-form {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #242424;
}
.appointment-form__name {
  grid-column: 1/-1;
}

.field-group {
  display: flex;
  flex-direction: column;
}

.field-group label,
.field-group input {
  display: block;
  width: 100%;
}

.form__label {
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.footer-container {
  display: flex;
  padding: 40px 0;
}

.footer {
  font-size: 14px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #242424;
  background-image: url("../assets/img/dark.png");
}
.footer a {
  color: #FFFFFF;
}
.footer__logo {
  display: block;
  width: 184px;
  height: 21px;
  margin-bottom: 24px;
}
.footer__contact {
  max-width: 200px;
  margin-right: 130px;
}
.footer__social {
  margin-left: auto;
  max-width: 190px;
}

.contact__address {
  margin-bottom: 16px;
}
.contact__text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  margin-bottom: 4px;
}
.contact__phone {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-transform: uppercase;
}
.contact__map-link {
  font-size: 20px;
  line-height: 26px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-transform: uppercase;
}

.newsletter__title {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 14px;
}
.newsletter__form {
  display: flex;
}
.newsletter__button {
  width: 56px;
  height: 44px;
  background: #000000 url("../assets/img/pointer-right.svg") center/16px 16px no-repeat;
}

.social__title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 14px;
  text-transform: uppercase;
  line-height: 28px;
}
.social__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 36px;
}
.social__item {
  width: 56px;
  height: 44px;
  margin-right: 8px;
  margin-bottom: 8px;
  background-color: #000000;
}
.social__item:nth-child(3n) {
  margin-right: 0;
}
.social__link {
  display: block;
  width: 56px;
  height: 44px;
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background: #000000 center/16px 16px no-repeat;
}
.social__link:hover {
  background-color: #814b18;
}
.social__link:focus {
  background-color: #4e2e0e;
  outline: 2px solid #bdb590;
}

.twitter {
  background-image: url(../assets/img/twitter.svg);
}

.vkontakte {
  background-image: url(../assets/img/vk.svg);
}

.instagram {
  background-image: url(../assets/img/instagram.svg);
}

p .html__link {
  font-size: 14px;
  color: #DBB590;
}

.header__logo {
  display: flex;
  align-items: center;
  width: 140px;
  margin-right: 100px;
}

.nav__link-current::before {
  content: "";
  position: absolute;
  right: 20px;
  bottom: 0;
  left: 20px;
  height: 4px;
  background-color: #fff;
}

.main__inner {
  padding: 40px 40px 60px;
  background-image: url("../assets/img/light.png");
}

.catalog-container {
  width: 700px;
}

.inner-header__title {
  font-size: 32px;
  line-height: 35px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.breadcrumbs {
  display: flex;
  color: #242424;
}
.breadcrumbs__item {
  margin-right: 32px;
  position: relative;
}
.breadcrumbs__item::after {
  position: absolute;
  top: 4px;
  right: -20px;
  width: 8px;
  height: 8px;
  background-color: #242424;
  content: "";
  transform: rotate(45deg);
}
.breadcrumbs__item:last-child::after {
  content: none;
}
.breadcrumbs__link {
  color: inherit;
}

.catalog-products {
  display: flex;
}
.catalog-products__filter {
  width: 220px;
  margin-right: 20px;
}

.filter__title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  color: #242424;
  text-transform: uppercase;
}
.control__label {
  font-weight: 700;
}

.sorting {
  display: flex;
  padding: 16px;
  margin-bottom: 16px;
  background: #fff;
}

.sorting .button {
  width: 56px;
  height: 44px;
}

.sorting-type {
  margin-right: auto;
}

.card-grid-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-grid-toggle svg {
  fill: #fff;
}

.card-grid-toggle-current {
  background-color: #fff;
}

.card-grid-toggle-current svg {
  fill: #000;
}

.card-grid-toggle:hover svg,
.card-grid-toggle:focus svg {
  fill: #FFFFFF;
}

.pagination__link:hover {
  background-color: #814B18;
}

.pagination__link:focus {
  outline: 2px solid #DBB590;
  background-color: #4E2E0E;
}

.product__list {
  display: grid;
  grid-template-columns: repeat(3, 220px);
  gap: 20px;
  margin-bottom: 24px;
}

.product-card {
  background-color: #FFFFFF;
}
.product-card__list {
  display: grid;
  grid-template-rows: 200px -webkit-min-content auto -webkit-min-content 16px;
  grid-template-rows: 200px min-content auto min-content 16px;
  grid-template-columns: 16px 188px 16px;
}
.product-card__link {
  grid-column: 1/-1;
}
.product-card__img {
  width: 220px;
  height: 168px;
}
.product-card__title-link {
  grid-column: 2/3;
}
.product-card__title {
  font-weight: 700;
  color: #242424;
}
.product-card__price {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  color: #814B18;
  text-transform: uppercase;
  grid-column: 2/3;
  margin-bottom: 16px;
}
.product-card__button {
  grid-column: 2/3;
}

.pagination {
  display: flex;
  padding: 16px;
  background-color: #FFFFFF;
}
.pagination__item:not(:last-child) {
  margin-right: 8px;
}
.pagination__link {
  display: block;
  box-sizing: border-box;
  width: 50px;
  height: 44px;
  padding: 14px 20px;
  color: #FFFFFF;
  background-color: #000000;
  text-decoration: none;
  line-height: 16px;
  font-weight: 700;
}
.pagination__prev {
  background: #000000 url("../assets/img/left.svg") center/16px 16px no-repeat;
}
.pagination__disabled {
  background-color: #595959;
}
.pagination__current {
  color: #242424;
  background-color: #FFFFFF;
}
.pagination__next {
  background: #000000 url("../assets/img/pointer-right.svg") center/16px 16px no-repeat;
}
.pagination__button {
  margin-left: auto;
  display: block;
  height: 44px;
  padding: 14px 20px;
}